<div id="analysis-panels" style="margin-bottom:20px; display:none;">
  <div id="analysis-panel" style="background-color:#fff; border-radius:4px; padding:10px; border-bottom-right-radius:0px; border-bottom-left-radius:0px">
    <button class="btn btn-default pull-right" type="button" id="analysis-settings-hide-button">X</button>
    <h2 style="margin-top: 10px; margin-bottom:20px; margin-left:35px; color:deepskyblue;">Analysis settings</h2>
    <div class="row" style="text-align:right">
      <div class="col-md-6">
        <div class="form-group" id="epsilon-input-form-group">
          <label class="text-16" for="epsilon-input">Privacy level &epsilon;</label>
          <br/>0 &lt; &epsilon; &le; 10
          <br/>smaller &epsilon; gives more privacy
        </div>
      </div>
      <div class="col-md-6">
        <input class="form-control epsilon-input" type="number" id="epsilon-input" value="1.0" step="0.1"/>
      </div>
    </div>
    <hr>
    <div class="row" style="text-align: right">
      <div class="col-md-6">
        <div class="form-group" id="beta-input-form-group">
          <label class="text-16" for="beta-input">Smoothness level &beta;</label>
          <br/>0 &lt; &beta; &lt; &epsilon;/5
          <br/>smaller &beta; gives less noise
        </div>
      </div>
      <div class="col-md-6 text-left">
        <input class="beta-toggle" type="checkbox" checked data-toggle="toggle">
        <input class="form-control beta-input" type="number" id="beta-input" value="0.1" step="0.1" style="margin-top:10px"/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-right">
        <div class="form-group" id="estimated-noise-input-form-group">
          <label class="text-16" for="estimated-noise-input">Confidence level of estimated noise</label>
        </div>
      </div>
      <div class="col-md-6 text-left">
        <span id="estimated-noise-label">90</span>%
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <input type="range" id="estimated-noise-input" value="0.9" min="0.0" max="1.0"
               step="0.01">
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <span id="enable-advanced-settings" style="cursor: pointer; color:deepskyblue;" >Enable advanced settings</span>
        <span id="disable-advanced-settings" style="display: none; cursor: pointer; color:deepskyblue;">Disable advanced settings</span>
      </div>
    </div>
    <hr>
    <div id="advanced-settings" style="opacity: 0.4;">
      <div class="row">
        <div class="col-md-6 text-right">
          <label class="text-16" for="sigmoid-smoothness-input">Sigmoid smoothness</label>
        </div>
        <div class="col-md-6 text-left">
          <input type="number" name="" id="sigmoid-smoothness-input" value="0.01" step="0.01" min="0" disabled="disabled">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 text-right">
          <label class="text-16" for="sigmoid-precision-input">Sigmoid precision</label>
        </div>
        <div class="col-md-6 text-left">
          <input type="number" name="" id="sigmoid-precision-input" value="5" step="0.1" min="0" disabled="disabled">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6 text-right">
          <label class="text-16" for="datestyle-input">PSQL datestyle</label>
        </div>
        <div class="col-md-6 text-left">
          <input type="text" id="datestyle-input" value="European" disabled="disabled">
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button id="attacker-settings-button" type="button" class="btn btn-default" style="margin-top:10px">Table Constraints</button>
        <button id="run-analysis" type="button" class="btn btn-success" style="margin-top:10px">Run analysis</button>
      </div>
    </div>
  </div>
  <div id="analysis-results-panel" style="background-color:#fff; border-radius:4px; display:none; padding:10px; border-top-right-radius:0px; border-top-left-radius:0px">
    <div>
      <h2 style="margin-top: 10px; margin-bottom:20px; color:deepskyblue;">Analysis results</h2>
    </div>
    <div class="analysis-spinner" style="display:none">
      <div class="double-bounce1-2"></div>
      <div class="double-bounce2-2"></div>
    </div>
      <div id="analysis-results-panel-content">
    </div>
  </div>
</div>
