<div id="attacker-settings-panel" style="margin-bottom:20px; display:none;">
  <div style="background-color:#fff; border-radius:4px; padding:10px; border-bottom-right-radius:0px; border-bottom-left-radius:0px">
    <button class="btn btn-default pull-right" type="button" id="attacker-settings-hide-button">X</button>
    <h2 style="margin-top: 10px; margin-bottom:20px; margin-left:35px; color:deepskyblue;">Attacker settings</h2>
    <div class="text-left">
      <label class="text-16" for="attacker-prior-knowledge">Attacker prior knowledge</label>
    </div>
    <div class="form-group" style="text-align: left; overflow-x: auto">
      <textarea class="form-control code" id="attacker-prior-knowledge" style="display: none;"></textarea>
    </div>
    <div class="text-right">
      <button class="btn btn-success" type="button" id="attacker-settings-save-button">Save</button>
    </div>
  </div>
</div>