<div class="panel panel-default task-options-panel" id="task-options-panel" style="display:none;">
    <div class="panel-heading">
      <button class="btn btn-default pull-right" type="button" id="task-options-hide-button">X</button>
      <h3 class="task-name"></h3>
    </div>
    <div class="panel-body">
      
      <div class="form-group" style="text-align: left;">
        <label class="text-16" for="task-input1">Query input</label>
        <textarea class="form-control code" id="task-input1" style="display: none;"></textarea>
      </div>

    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" type="button" id="task-options-save-button">Save</button>
    </div>
  </div>