<div class="row header-buttons">
  <div>
    <div class="row">
      <div class="col-xs-5">
        <h4 class="editor-title">Pleak SQL derivative sensitivity editor</h4>
      </div>
      <div class="col-xs-7 buttons-container">
        <ul class="buttons">
          <li>
            <a id="change-editor" title="Change analyzer" data-toggle="modal" data-target="#changeAnalyzerModal" class="active">
              <span class="glyphicon glyphicon-blackboard"></span> Change analyzer
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="canEdit()">
          <li>
            <a id="save-diagram"title="save BPMN diagram" href="#">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save diagram
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" *ngIf="isLoaded()">
          <li>
            <a class="active .analyze-button" id="analyze-diagram" title="analyze BPMN diagram" href="#">
              <span class="glyphicon glyphicon-check"></span> Analyze
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="!isAuthenticated()">
          <li>
            <a id="log-in" data-toggle="modal" data-target="#loginModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="isAuthenticated()">
          <li>
            <a id="log-out" data-toggle="modal" data-target="#logoutModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log out
            </a>
          </li>
        </ul>
        <div class="file-name-container">
          <span id="fileSaveSuccess" class="help-block success-message" style="display: none;">
            Successfully saved the diagram!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="text-16" id="fileName"></span>
      </div>
    </div>
  </div>
</div>
<div id="canvas">
</div>
<div id="sidebar" *ngIf="isLoaded()">
  <div id="input-options">
  </div>
</div>
<div class="model-spinner" *ngIf="!isLoaded()">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div class="modal fade" id="changeAnalyzerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>Change analyzer</h4>
        </div>
        <div class="modal-body text-center">
          <ul class="buttons">
            <li>
              <a class="active" href="/sql-privacy-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> SQL Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a>
                <span class="glyphicon glyphicon-transfer"></span> SQL DS Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/pe-bpmn-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> PE-BPMN Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/guessing-advantage-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Guessing Advantage Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/combined-sensitivity-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Combined Sensitivity Analyzer
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>