<div class="row header-buttons">
  <div>
    <div class="row">
      <div class="col-xs-4">
        <h4 class="editor-title">Pleak Sensitivities editor</h4>
      </div>
      <div class="col-xs-8 buttons-container">
        <ul class="buttons">
          <li>
            <a id="change-editor" title="Change analyzer" data-toggle="modal" data-target="#changeAnalyzerModal" class="active">
              <span class="glyphicon glyphicon-blackboard"></span> Change editor
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="canEdit()">
          <li>
            <a id="save-diagram" title="save BPMN diagram" href="#">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save diagram
            </a>
          </li>
        </ul>
        <ul id="download-diagram-container" class="buttons hidden">
          <li>
            <a id="download-diagram" title="Download diagram (.bpmn)" href="#">
              <span class="glyphicon glyphicon-cloud-download"></span> Export diagram
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="!isAuthenticated()">
          <li>
            <a id="log-in" data-toggle="modal" data-target="#loginModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="isAuthenticated()">
          <li>
            <a id="log-out" data-toggle="modal" data-target="#logoutModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log out
            </a>
          </li>
        </ul>

        <div class="file-name-container">
          <span id="fileSaveSuccess" class="help-block success-message" style="display: none;">
            Successfully saved the diagram!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="text-16" id="fileName"></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="messageModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div id="canvas">
</div>
<div id="sidebar">
  <button type="button" *ngIf="elementsHandler" [disabled]="analyserMode === 'combined'" [class.active]="analyserMode === 'combined'" class="btn btn-default" (click)="setCombinedAnalyser()" style="margin-right:5px">CS/DS Analysis</button>

  <button type="button" *ngIf="elementsHandler" [disabled]="analyserMode === 'global'" [class.active]="analyserMode === 'global'" class="btn btn-default" (click)="analyserMode = 'global'">Global sensitivity analysis</button>

  <hr class="divider">
  <button *ngIf="analyserMode === 'global'"  id="run-global-analysis" type="button" class="btn btn-success" style="margin-top:10px">Run global sensitivity analysis</button>

  <div *ngIf="analyserMode === 'combined'" id="analysis-panels" style="margin-bottom:20px;">
    <div id="analysis-panel" style="background-color:#fff; border-radius:4px; padding:10px; border-bottom-right-radius:0px; border-bottom-left-radius:0px">
      <button class="btn btn-default pull-right" type="button" id="analysis-settings-hide-button">X</button>
      <h2 style="margin-top: 10px; margin-bottom:20px; margin-left:35px; color:deepskyblue;">Analysis settings</h2>
      <div class="row" style="text-align:right">
        <div class="col-md-6">
          <div class="form-group" id="epsilon-input-form-group">
            <label class="text-16" for="epsilon-input">Privacy level &epsilon;</label>
            <br/>0 &lt; &epsilon; &le; 10
            <br/>smaller &epsilon; gives more privacy
          </div>
        </div>
        <div class="col-md-6">
          <input class="form-control epsilon-input" type="number" id="epsilon-input" value="1.0" step="0.1"/>
        </div>
      </div>
      <hr>
      <div class="row" style="text-align: right">
        <div class="col-md-6">
          <div class="form-group" id="beta-input-form-group">
            <label class="text-16" for="beta-input">Smoothness level &beta;</label>
            <br/>0 &lt; &beta; &lt; &epsilon;/5
            <br/>smaller &beta; gives less noise
          </div>
        </div>
        <div class="col-md-6 text-left">
          <input class="beta-toggle" type="checkbox" checked data-toggle="toggle">
          <input class="form-control beta-input" type="number" id="beta-input" value="0.1" step="0.1" style="margin-top:10px"/>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 text-right">
          <div class="form-group" id="estimated-noise-input-form-group">
            <label class="text-16" for="estimated-noise-input">Confidence level of estimated noise</label>
          </div>
        </div>
        <div class="col-md-6 text-left">
          <span id="estimated-noise-label">90</span>%
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <input type="range" id="estimated-noise-input" value="0.9" min="0.0" max="1.0"
                 step="0.01">
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <span id="enable-advanced-settings" class="clickable" >Enable advanced settings</span>
          <span id="disable-advanced-settings" class="clickable" style="display: none;">Disable advanced settings</span>
        </div>
      </div>
      <hr>
      <div id="advanced-settings" style="opacity: 0.4;">
        <div class="row">
          <div class="col-md-6 text-right">
            <label class="text-16" for="sigmoid-smoothness-input">Sigmoid smoothness</label>
          </div>
          <div class="col-md-6 text-left">
            <input type="number" name="" id="sigmoid-smoothness-input" value="0.01" step="0.01" min="0" disabled="disabled">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 text-right">
            <label class="text-16" for="sigmoid-precision-input">Sigmoid precision</label>
          </div>
          <div class="col-md-6 text-left">
            <input type="number" name="" id="sigmoid-precision-input" value="5" step="0.1" min="0" disabled="disabled">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-md-6 text-right">
            <label class="text-16" for="datestyle-input">PSQL datestyle</label>
          </div>
          <div class="col-md-6 text-left">
            <input type="text" id="datestyle-input" value="European" disabled="disabled">
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-12 text-left">
          <button id="attacker-settings-button" type="button" class="btn btn-default" style="margin-top:10px">Table Constraints</button>
          <br>
          <button id="run-ds-analysis" type="button" class="btn btn-success" style="margin-top:10px">Run derivative sensitivity analysis</button>
          <br>
          <button id="run-cs-analysis" type="button" class="btn btn-success" style="margin-top:10px">Run combined sensitivity analysis</button>
        </div>
      </div>
    </div>
    <div id="analysis-results-panel" style="background-color:#fff; border-radius:4px; display:none; padding:10px; border-top-right-radius:0px; border-top-left-radius:0px">
      <div>
        <h2 style="margin-top: 10px; margin-bottom:20px; color:deepskyblue;">Analysis results</h2>
      </div>
      <div class="analysis-spinner" style="display:none">
        <div class="double-bounce1-2"></div>
        <div class="double-bounce2-2"></div>
      </div>
      <div id="analysis-results-panel-content">
      </div>
    </div>
  </div>

  <div id="attacker-settings-panel" style="margin-bottom:20px; display:none;">
    <div style="background-color:#fff; border-radius:4px; padding:10px; border-bottom-right-radius:0px; border-bottom-left-radius:0px">
      <button class="btn btn-default pull-right" type="button" id="attacker-settings-hide-button">X</button>
      <h2 style="margin-top: 10px; margin-bottom:20px; margin-left:35px; color:deepskyblue;">Attacker settings</h2>
      <div class="text-left">
        <label class="text-16" for="attacker-prior-knowledge">Attacker prior knowledge</label>
      </div>
      <div class="form-group" style="text-align: left; overflow-x: auto">
        <textarea class="form-control code" id="attacker-prior-knowledge" style="display: none;"></textarea>
      </div>
      <div class="text-right">
        <button class="btn btn-success" type="button" id="attacker-settings-save-button">Save</button>
      </div>
    </div>
  </div>
  <br><br>
  <sidebar [canEdit]="canEdit()"></sidebar>
  <div id="input-options">
  </div>
  <div id="resize-buttons-container">
    <span id="resize-buttons-label">Sidebar width:</span>
    <button class="btn btn-default" id="resize-dec">-</button>
    <button class="btn btn-default" id="resize-inc">+</button>
  </div>
</div>
<div class="model-spinner" *ngIf="!isLoaded()">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div class="modal fade" id="changeAnalyzerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>Change editor</h4>
        </div>
        <div class="modal-body text-center">
          <ul class="buttons">
            <li>
              <a>
                <span class="glyphicon glyphicon-transfer"></span> Sensitivities editor
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/pe-bpmn-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> PE-BPMN & Leaks-When editor
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/guessing-advantage-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Guessing Advantage editor
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
